# Node modules
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Docker
**/docker-data/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Build
dist/
build/
**/.next/

# Outros
.DS_Store